<!-- Search form -->

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Search name" aria-label="Search name"
    aria-describedby="basic-addon2">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2">
      <fa-icon [icon]="faSearch" class="fa"></fa-icon>
    </span>
  </div>
</div>
