  <div class="content">
    <div class="form">
      <form #createUserForm="ngForm" (ngSubmit)="onCreateUser()">
         <div class="form-group">
          <!-- <label for="image">Image</label>
          <input type="file" class="form-control-file" id="image"  required [(ngModel)]="user.file" name="file" #file="ngModel"> -->
        </div> 
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" required [(ngModel)]="user.name" name="name" #name="ngModel">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" required [(ngModel)]="user.email" name="email" #email="ngModel">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" required [(ngModel)]="user.password" name="password"
            #password="ngModel">
        </div>
        <div class="form-group">
          <label for="role">Role:</label>
          <select class="form-control" id="role" (change)="onChange($event.target.value)">
            <option value="" disabled>Choose role</option>
            <option *ngFor="let role of roles" [ngValue]="role">{{role | titlecase}}</option>
          </select>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
