#role{
    outline: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #6b9337ff;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
form {
    margin: 0 25%;
} 