.cover {
    width: 100%;
    opacity: 0.2;
}

.content {
    padding-top: 0px;
}

.description {
    padding: 80px;
    display: flex;
    flex-direction: column;
}

.description h3 {
    padding: 10px 0;
    color: #6b9337ff;
    font-size: 25px;
    font-weight: 500
}

.description h6 {
    padding: 10px 0;
    color: #397639ff;
    font-size: 20px;
    font-weight: 300
}

.description button {
    padding: 10px 20px;
    background-color: #397639ff;
    color: #fff;
    border: 0;
    outline: 0;
    margin: 0 auto;
    border-radius: 5px;
    justify-self: left;
}

.product .fa {
    padding: 10px 0px;
    color: #397639ff;
    font-size: 30px
}

.message {
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgba(107, 147, 55, 0.644);
    padding:10px 0;
    margin:10px 0
}
 h3 {
    padding: 10px 0;
    color: #6b9337ff;
    font-size: 25px;
    font-weight: 500
}
.message img {
    width:7%;
    height:7%;
    border-radius:50%;
    padding-right:10px;
}
.message p{
    color: #6b9337ff;
    font-size: 16px;
    padding-top:30px
}
.add-review{
    padding:20px 0;
}
.add-review .review-label{
    color: #6b9337ff;
    font-size: 16px;
    font-weight:400
}
textarea {
    outline: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #6b9337ff;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
form button {
    color: #6b9337ff;
    background-color: #fff;
    border: 1px solid #6b9337ff;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 8px 15px;
    border-radius: 50px;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    box-shadow: none;
} 

form button:hover {
    background-color: #6b9337ff;
    color: #fff;
}