<div class="content">
  <img class="cover" src="../../assets/images/cover.jpg" alt="logo" />
  <div class="container-fluid">
    <div class="row product">
      <div class="col-xl-4">
        <pinch-zoom>
          <img src={{product.image}} alt="logo" /></pinch-zoom>
      </div>
      <div class="col-xl-8 description">
        <h3>{{product.name}}</h3>
        <h6>{{product.description}}</h6>
        <p>US ${{product.price}}</p>
        <p>{{product.quantity}}</p>
        <!-- (click)='addToCart(product.id)' -->
        <span class='pb-2 pt-2'><button (click)="openModal(template)">Add to cart</button></span>
        <!-- <span>
          <fa-icon [icon]="faHeart" class="fa"></fa-icon>
        </span> -->
      </div>
      <!-- Modal -->
      <ng-template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Add product to cart</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addToCart="ngForm" (ngSubmit)="onAddToCart()">
            <div class="form-group">
              <label for="exampleInputPassword1">Quantity</label>
              <input type="number" class="form-control" required [(ngModel)]="productQuantity.qty" name="qty"
                #qty="ngModel" (ngModelChange)="calculatePrice($event)">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Price</label>
              <input type="number" class="form-control" required [(ngModel)]="productQuantity.price" name="price"
                #price="ngModel" readonly>
            </div>
            <button type="submit">Add to cart</button>
          </form>
        </div>
        <!-- <button type="button" (click)="delete(product.id)">
          <span aria-hidden="true">Ok</span>
        </button> -->
      </ng-template>
    </div>
    <div class="row">
      <div class="col-xl-4"></div>
      <div class="col-xl-8">
        <h3>Reviews</h3>
        <div class="message" *ngFor='let comment of comments'>
          <img class="profile" src={{comment.userImage}} alt="profile" />
          <div>
            <h6>{{comment.name}}</h6>
            <p>{{comment.comment}}</p>
          </div>
        </div>
        <div class="add-review" *ngIf='hasBoughtProduct'>
          <form #addCommentForm="ngForm" (ngSubmit)="onAddComment()">
            <div class="form-group">
              <label for="review-label" class="review-label">Add review</label>
              <textarea rows="3" class="form-control" required [(ngModel)]="comment.text" name="text"
                #text="ngModel"></textarea>
            </div>
            <button type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
