<header>
  <ul class="nav nav-tabs">
    <li class="nav-item" *ngFor="let n of list">
      <a class="nav-link" (click)="select(n.title)" [ngClass]="{active: isActive(n.title)}"
        [routerLink]=[n.link]>{{n.title}}</a>
    </li>
  </ul>
</header>
