.nav-tabs{
    padding-top:80px;
    z-index: 10;
    position: fixed;
    width:100%;
    background-color: rgb(255, 255, 255);
}
.nav-tabs a {
    color: #6b9337ff;
    padding: 15px 40px;
    font-size:18px
}
