.content {
    padding: 180px 100px;
}

table {
    border-collapse: initial;
}

.table thead th {
    border-bottom: 2px solid white
}

.search-area {
    background-color: rgba(243, 241, 241, 0.644);
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
}

.profile-image {
    border-radius: 50%;
    width:50px;
    padding:0;
    margin:0;
    vertical-align: top;
}

