<app-second-nav></app-second-nav>
<div class="content">
  <div class="search-area">
    <app-search></app-search>
    <span class="text-right">
      <app-button [routerLink]="['/admin/create-user']">Create user</app-button>
    </span>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td *ngIf="user.image"><img src={{user.image}} class="profile-image" /></td>
        <td *ngIf="!user.image"></td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.role}}</td>
        <td>
          <fa-icon [icon]="faEdit" class="fa" (click)="edit(user.uid)"></fa-icon>
        </td>
        <td>
          <fa-icon [icon]="faTrashAlt" class="fa" (click)="openModal(template)"></fa-icon>
        </td>

        <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Delete user</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this user!
          </div>
          <button type="button" (click)="delete(user.uid)">
            <span aria-hidden="true">Ok</span>
          </button>
        </ng-template>
      </tr>
    </tbody>
  </table>
</div>
