  <div class="content">
    <div *ngIf='favouritesProducts.length > 0'>
      <div class="container-fluid">
        <div class="row item" *ngFor='let favourite of favouritesProducts'>
          <div class="col-xl-4">
            <a [routerLink]="['/product', favourite.id]"><img class="cart-image" src={{favourite.image}}
                alt="logo" /></a>
          </div>
          <div class="col-xl-8">
            <a [routerLink]="['/product', favourite.id]">
              <h3>{{favourite.name}}</h3>
            </a>
            <div class="text-right">
              <fa-icon [icon]="faTrashAlt" class="fa" (click)='deleteFavourite(favourite.id)'></fa-icon>
            </div>
            <h6>{{favourite.description}}</h6>
            <p>US ${{favourite.price}}</p>
          </div>
        </div>
      </div>
    </div>
    <h3 *ngIf='favouritesProducts.length <= 0'>No items as favourites go to <a [routerLink]="['/products']">products</a>
    </h3>
  </div>
