.content {
    padding: 150px 100px;
}

form {
    margin: 0 25%;
}

input[type="text"], input[type="number"], textarea, input[type="file"] {
    outline: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #6b9337ff;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

input:focus {
    outline: none;
    box-shadow: none;
}

button {
    color: #6b9337ff;
    background-color: #fff;
    border: 1px solid #6b9337ff;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 8px 15px;
    border-radius: 50px;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

button:hover {
    background-color: #6b9337ff;
    color: #fff;
}

input:focus::placeholder {
    color: transparent;
}