<div class="content">
  <div class="form">
    <form #createProductForm="ngForm" (ngSubmit)="onCreateProduct()">
      <div class="form-group">
        <label for="image">Image</label>
        <input type="file" class="form-control-file" id="image" (change)="upload($event)" accept=".png,.jpg">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" required [(ngModel)]="product.name" name="name" #name="ngModel">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Price</label>
        <input type="number" class="form-control" required [(ngModel)]="product.price" name="price" #price="ngModel">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Quantity</label>
        <input type="number" class="form-control" required [(ngModel)]="product.quantity" name="quantity"
          #quantity="ngModel">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Type</label>
        <input type="text" class="form-control" required [(ngModel)]="product.type" name="type" #type="ngModel">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Description</label>
        <!-- <input type="text" class="form-control" required [(ngModel)]="product.description" name="description" #description="ngModel"> -->
        <textarea rows="3" class="form-control" required [(ngModel)]="product.description" name="description"
          #description="ngModel"></textarea>
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
