h6 {
    padding: 10px 0;
    color: #397639ff;
    font-size: 20px;
    font-weight: 300
}
h3 {
    padding: 10px 0;
    color: #6b9337ff;
    font-size: 25px;
    font-weight: 500
}
.content {
    padding: 180px 100px;
}

p {
    color: #6b9337ff;
    font-size: 16px;
}

.profile-picture {
    border-radius: 100%;
    width: 60%;
}

/* form {
    margin: 0 25%;
} */

input[type="text"], input[type="email"], input[type="file"], input[type="password"] {
    outline: 0;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #6b9337ff;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

input:focus {
    outline: none;
    box-shadow: none;
}

button {
    color: #6b9337ff;
    background-color: #fff;
    border: 1px solid #6b9337ff;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 8px 15px;
    border-radius: 50px;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

button:hover {
    background-color: #6b9337ff;
    color: #fff;
}

input:focus::placeholder {
    color: transparent;
}