<app-second-nav></app-second-nav>
<div class="content">
  <div class="search-area">
    <app-search (keyup)="search($event)"></app-search>
    <span class="text-right">
      <app-button (onClick)="functioncall(event)" [routerLink]="['/admin/create-product']">Create product</app-button>
    </span>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Description</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td><img src={{product.image}} class="profile-image" /></td>
        <td>{{product.name}}</td>
        <td>{{product.type}}</td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.description}}</td>
        <td>
          <fa-icon [icon]="faEdit" class="fa" (click)="edit(product.id)"></fa-icon>
        </td>
        <td>
          <fa-icon [icon]="faTrashAlt" class="fa" (click)="openModal(template)"></fa-icon>
        </td>
        <ng-template #template>
          <div class="modal-header">
            <h4 class="modal-title pull-left">Delete product</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this product!
          </div>
          <button type="button" (click)="delete(product.id)">
            <span aria-hidden="true">Ok</span>
          </button>
        </ng-template>
      </tr>

    </tbody>
  </table>
</div>
