<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-4 content logo">
        <img src="../../assets/images/logo2.png" alt="logo" width="50%" />
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque repudiandae ipsum eos laudantium ab enim,
          numquam sunt officiis accusamus. Incidunt?</p>
      </div>
      <div class="col-xl-4 content ">
        <p><b>Follow us</b></p>
        <div class="follow">
          <fa-icon [icon]="faFacebook" class="fa"></fa-icon>
          <fa-icon [icon]="faTwitter" class="fa"></fa-icon>
          <fa-icon [icon]="faInstagram" class="fa"></fa-icon>
        </div>
      </div>
      <div class="col-xl-4 content">
        <p><b>Contact us</b></p>
        <div class="contact">
          <h6>Lorem, ipsum dolor.</h6>
          <h6>Lorem, ipsum dolor.</h6>
          <h6>Lorem, ipsum dolor.</h6>
        </div>
      </div>
    </div>
  </div>
</footer>
