footer{
    background-color: #397639ff
}
.content{
    padding:50px;
}
.content p{
    color:#fff;
    padding:20px
}
.follow{
    padding:10px
}
.fa{
    color:#fff;
    font-size:25px;
    padding:10px
}
.fa:hover{
    color:rgba(255, 255, 255, 0.6);
}
.contact{
    padding:10px;
    color:#fff;
    font-size:25px;
}