<div class="content">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of boughtProducts">
        <td><img src={{product.image}} class="profile-image" /></td>
        <td>{{product.name}}</td>
        <td>{{product.totalQuantity}}</td>
        <td>{{product.totalPrice}}</td>
      </tr>
    </tbody>
  </table>
</div>
