.button-style {
    background-color: #397639ff;
    color: #fff;
    border-radius: 5px
}

.button-style:hover {
    background-color: #fff;
    color: #397639ff;
    cursor: pointer;
    border: 1px solid #397639ff;
}

.button-outline-style {
    background-color: #fff;
    color: #397639ff;
    cursor: pointer;
    border: 1px solid #397639ff;
    border-radius: 5px
}

.button-outline-style:hover {
    background-color: #397639ff;
    color: #fff;
    
}