<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-4">
        <img class="profile-picture" src={{user.image}} alt="logo" />
      </div>
      <div class="col-xl-8">
        <h6>Fullname</h6>
        <p>{{user.name}}</p>
        <h6>Email</h6>
        <p>{{user.email}}</p>
        <ul>
          <li>
            <app-button class='button-outline-style' [routerLink]="['/user/buy-history']">{{buttonLabels.buyHistory}}
            </app-button>
          </li>
          <li>
            <app-button class='button-outline-style' [routerLink]="['/user/favourites']">{{buttonLabels.favourites}}
            </app-button>
          </li>
          <li>
            <app-button class='button-outline-style' [routerLink]="['/user/shopping-cart']">{{buttonLabels.cart}}
            </app-button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
