<div class="content">
  <div class="container-fluid">
    <div *ngIf='products.length > 0'>
      <div class="row item" *ngFor="let product of products">
        <div class="col-xl-4">
          <img class="cart-image" src={{product.image}} alt="logo" />
        </div>
        <div class="col-xl-8">
          <h3>{{product.name}}</h3>
          <div class="text-right">
            <fa-icon [icon]="faTrashAlt" class="fa" (click)='deleteProduct(product)'></fa-icon>
          </div>
          <h6>{{product.description}}</h6>
          <p>Quantity: {{product.totalQuantity}}</p>
          <p>US ${{product.totalPrice}}</p>
          <app-button class="button-style text-right" (onClick)="buy(product)">Buy</app-button>
        </div>
      </div>
    </div>
    <h3 *ngIf='products.length <= 0'>No items in the shopping cart go to <a [routerLink]="['/products']">products</a></h3>
  </div>
</div>
