.content {
    padding: 180px 100px;
}
.fa{
    color: rgba(57, 118, 57,1);
    font-size:25px
}
.fa:hover{
    cursor:pointer
}
.cart-image{
    width:60%
}
.item{
    border-bottom: 1px solid rgba(57, 118, 57,1);
    padding:10px
}

a{
    color:rgba(57, 118, 57,1);
    text-decoration: none;
    font-weight: bold;
}