<div class="form">
  <form #signinForm="ngForm" (ngSubmit)="onSignin()">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" placeholder="Email" required [(ngModel)]="user.email" name="email"
        #email="ngModel" #spy>
      <!-- TODO: remove this: {{user.email}}
      <br>TODO: remove this: {{spy.className}} 
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" placeholder="Password" required [(ngModel)]="user.password" name="password"
      #password="ngModel">
    </div>
    <button type="submit">Log in</button>
  </form>
</div>
