header {
    padding: 5px 0;
    z-index: 100;
    background: transparent;
    position: fixed;
    width: 100%;
}

.sticky {
    background: rgba(255, 255, 255, 0.88);
    /* box-shadow: 0 0 20px 5px rgba(50, 50, 50, 0.12); */
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav a {
    color: #6b9337ff;
    padding: 0 25px;
    font-size:18px
}

