<header id="navbar">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" [routerLink]="['']">
      <img src="../../assets/images/logo1.png" alt="logo" width="15%" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <fa-icon [icon]="faStream" class="fa"></fa-icon>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/products']">Products</a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link" [routerLink]="['/admin/users']">Admin</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn && !isAdmin">
          <a class="nav-link" [routerLink]="['/user/profile']">Profile</a>
        </li>
        <li class="nav-item" *ngIf="!isAdmin">
          <a class="nav-link" [routerLink]="['/user/shopping-cart']">
            <fa-icon [icon]="faShoppingCart" class="fa"></fa-icon>
          </a>
        </li>
        <li class="nav-item" *ngIf="!authService.isLoggedIn">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedIn">
            <a class="nav-link" [routerLink]="['/']" (click)="authService.logout()">Logout</a>
          </li>
      </ul>
    </div>
  </nav>
</header>
