/* Slider */

.image {
    height: 100vh;
    background-size: cover;
    width: auto;
    background-image: url('../../../assets/images/slider.png');
    background-position: center center;
    padding: 0
}

.slider-overlay {
    height: 100%;
    background: rgba(196, 214, 140, 0.25);
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider-overlay h2 {
    font-size: 55px;
    color: #397639ff;
    margin-left: 20px;
}

.slider-overlay p {
    color: #397639ff;
    font-size: 20px;
    margin-left: 25px;
    text-transform: uppercase;
    font-weight: bold;
}

.slider-overlay a {
    background-color: #397639ff;
    color: #fff;
    font-size: 20px;
    margin-left: 25px;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
}

/* Items */

.items {
    padding: 60px 10px;
    background-color: rgba(196, 214, 140, 0.25);
}

.item {
    padding: 50px
}

.card {
    padding: 50px;
    border-radius: 30px;
}

.card-text p {
    color: #397639ff;
    font-size: 25px;
    font-weight: bold;
}

.see-more {
    text-align: center;
    display: inline-block
}

.see-more a {
    color: #397639ff;
    background-color: #fff;
    border: 1px solid #397639ff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.see-more a:hover {
    background-color: #397639ff;
    color: #fff;
    border: 1px solid #fff;
}