<!-- Slide -->
<div class="image">
  <div class="slider-overlay">
    <h2><i>The beauty of</i></h2>
    <p> nature is everywhere</p>
    <a [routerLink]="['/products']">Shop now</a>
  </div>
</div>
<div class="container-fluid items-container">
  <div class="row items">
    <div class="col-xl-3 item">
      <div class="card">
        <img src="../../assets/images/items/1.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">US $100</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 item">
      <div class="card">
        <img src="../../assets/images/items/2.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">US $100</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 item">
      <div class="card">
        <img src="../../assets/images/items/3.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">US $100</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 item">
      <div class="card">
        <img src="../../assets/images/items/4.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">US $100</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 item">
      <div class="card">
        <img src="../../assets/images/items/5.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">US $100</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 item">
      <div class="card">
        <img src="../../assets/images/items/6.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">US $100</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 item">
      <div class="card">
        <img src="../../assets/images/items/5.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">US $100</p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 item">
      <div class="card">
        <img src="../../assets/images/items/6.png" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">US $100</p>
        </div>
      </div>
    </div>
    <div class="col-xl-12 see-more">
      <a routerLink="/products">See more</a>
    </div>
  </div>
</div>
