<div class="content">
  <img class="cover" src="../../assets/images/cover.jpg" alt="logo" />
  <!-- <ul class="nav nav-pills justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Hair</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Body</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Hands</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Face</a>
    </li>
  </ul> -->
  <!-- Products -->
  <div class="container-fluid">
    <div class="items">
      <div class="row">
        <div class="col-xl-3  col-lg-4 col-md-4 item" *ngFor="let product of products">
          <img src={{product.image}} alt="logo" />
          <div class="item-overlay">
            <fa-icon [icon]="faHeart" class="fa" (click)="isAddedAsFavourite(product)"></fa-icon>
            <fa-icon [icon]="faArrowsAltH" class="fa" (click)="viewProduct(product.id)"></fa-icon>
          </div>
          <div class="price">
            <p><b>$</b>{{product.price}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
