.cover{
    width:100%;
    opacity: 0.2;
}
.content {
    padding-top: 0px;
    /* position: fixed;
    width:100%;
    background-color: rgb(255, 255, 255); */
}
.nav-pills .nav-link.active {
    background-color: #397639ff;
    color: #fff;
    padding: 4px 20px
}
.nav-pills .nav-link {
    color: #6b9337ff;
    font-size: 16px;
    font-weight:500
}
.nav{
    margin-top:40px
}

/* Items */
.items {
    margin: 60px 0;
    padding: 10px 0;
}
.item{    
    padding: 20px;
    
}
.item img {
    width: 100%;
    height: auto;border: 1px solid rgba(196, 214, 140, 0.25);
}
.see-more a {
    color: #397639ff;
    background-color: #fff;
    border:1px solid #397639ff;
    font-size: 20px;
    margin:  0 auto;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 30px;
    cursor: pointer;
    text-decoration: none;
}
.see-more a:hover {
    background-color: #397639ff;
    color: #fff;
    border:1px solid #fff;
}

.item-overlay{
    display:none;
}

.item:hover .item-overlay{
    background: rgba(196, 214, 140, 1);
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:2px;
    border-radius: 20px;
    position: absolute;
    top:0px;
    left:20%; 
    width:60%
}
.item-overlay .fa{
    color: rgba(255, 255, 255, 0.788);
    font-size:25px
}
.item-overlay .fa:hover{
    color: rgba(57, 118, 57, 0.678);
}

.price p{
    color: #397639ff;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    bottom:40px;
    left:70px
}